body{
    background-color: #FFB6C1;
    color: rgb(85, 3, 101);
    font-family: 'Courier New', Courier, monospace;
    font-size:medium;  
}
header, h1{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
}
.tagline{
    font-size: 20px;
    color: grey;
}
a{
    color:azure;
}

main{
    text-align: center;
}
h2{
    
font-size: 40px;
text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #fff;
}

figure caption {
    font-weight: bold;
    padding: 8px;
    text-align: center;
}


form {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


label {
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}


input[type="text"], input[type="tel"], input[type="email"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


fieldset {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

input[type="reset"], input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: #555;
}


input:focus {
    border-color: #333;
    outline: none;
}

footer{
    text-align: center;
}

.resize{
    width: 700px;
    height: auto; 
    align-items: center;
}

.info{
    font-size: 20px;
}

.indent{
    margin-left: 2em;
}