<h1>Aleeza Cabahug's Angry Cow || ITIS3135</h1>
        <h1>˚ʚ♡ɞ˚</h1>
        <h1 class="tagline"><strong><em>Where Comfort Meets Cuteness!</em></strong></h1>
        <nav class="info">
            <a href="index.html">Home</a> ||
            <a href="intro.html">Introduction</a> ||
            <a href="contract.html">Contract</a> ||
            <a href="about.html">About</a> ||
            <a href="website_evaluations.html">Website Evaluations</a> ||
            <a href="tables.html">Tables</a> ||
            <a href="stuff/INDEX.html">CRAPPY Webpage</a>
        </nav>
        <script src="https://lint.page/kit/4d0fe3.js" crossorigin="anonymous"></script>